<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<% if @is_empty %>
  <%= render :partial => 'noevent' %>
<% else %>
  
  <h1>Joining Events</h1>
	
<%= current_user.id %>

<% @events.each do |event| %>  

    <%= event.event_id %>

  <% end %>
<% end %>