<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<p>„It‘s Goofytime!“ Unter diesem Stichwort finden sich StudentInnen aus aller Welt, um gemeinsam etwas zu unternehmen. Dafür bietet die Plattform goofytime einen großen Pool an Events an, die von den Usern erstellt werden um verschiedene Aktivitäten gemeinsam zu erleben. Für Nutzer, die sich untereinander nicht kennen, eröffnet sich damit die Chance neue Leute kennen zu lernen und gemeinsame Erfahrungen zu teilen. Vor allem für neuhinzugezogene StudentInnen in Ballungsräumen und Großstädten können Kontakte geknüpft und neue Erlebnisse geschaffen werden. Im Gegensatz zu anderen Communities steht hier das „gemeinsame Erleben“ im Vordergrund.</p>

<p><i>„Dank Goofytime habe ich interessante, neue Leute kennen gelernt, die genau so wie ich gerne auf Reisen gehen.“ Melanie, 25</i></p>

<p>Dank des transparenten Interface von goofytime ist es für den User einfach sich anzumelden und Events zu erstellen. Nach dem Anlegen des eigenen Accounts kann man entweder nach den passenden Interessen stöbern oder ein eigenes Event erstellen. So findet man vielleicht schnell jemanden der/die das gleiche Hobby hegt und das eigene Interesse teilt oder jemanden der schon immer mal Kite surfen gehen wollte und jetzt eine(n) passende(n) LehrerIn sucht. Mit goofytime findet man immer genau die richtigen Menschen um gemeinsam seine Interessen zu leben. Gleich ausprobieren!</p>