<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<p>If you need any advise or want to give us feedback. You can do that by sending us a mail.</p>
<br />
<p>@Daniel Krenmayr: <%= mail_to "dkrenmayr.mmt-b2010@fh-salzburg.ac.at" %></p>

<p>@Dimitri Reifschneider: <%= mail_to "dreifschneider.mmt-b2010@fh-salzburg.ac.at" %></p>