<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<%= image_tag("logo_goofytime.png") %>

<p>ist das Basisqualifikationsprojekt QPT 2a an der Fachhochschule Salzburg</p>

<p>2011 umgesetzt von Daniel Krenmayr und Dimitri Reifschneider</p>

<p>Studiengang: MultimediaTechnology - Web & Communities</p>

<br />

<p>Nutzung der Homepage</p>

<p>Alle Rechte, auch die der Übersetzung, des Nachdrucks und die der Vervielfältigung, vorbehalten.
Kein Teil darf ohne schriftliche Genehmigung durch Goofytime in irgendeiner Form sprich Fotokopie, Microfilm oder ein anderes Verfahren, reproduziert oder unter Verwendung elektronischer Systeme verarbeitet, vervielfältigt oder verbreitet werden.</p>

<br />

<p>Datenschutz</p>

<p>Soweit auf Goofytime personenbezogene Daten (Name, Anschrift, e-Mail Adressen, etc.) erhoben werden, erfolgt dies stets auf freiwilliger Basis.</p>

<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Goofytime behält sich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor!</p>

<br />

<p>Haftungsausschluss</p>

<p>Es wird nicht garantiert, dass das System einwandfrei funktioniert.</p>

<p>Goofytime distanziert sich ausdrücklich von dem Inhalt der versendeten Rechnungen. Für diese ist stets der jeweilige Rechnungssteller verantwortlich!</p>

<p>Goofytime kann in keinem Fall (Rechnungserstellung, Versand, Fehlinformationen, etc.) haftbar gemacht werden!</p>

<br />

<p>Aktualisierungen und Änderungen</p>

<p>Diese Website wird in regelmäßigen Abständen gewartet und aktualisiert.</p>

<p>Goofytime übernimmt keinerlei Haftung für die Richtigkeit und Aktualität der gemachten Angaben.</p>

<br />

<p>Links</p>

<p>Goofytime distanziert sich von den externen Links welche auf der Homepage veröffentlicht werden.</p>

<p>Für die Inhalte der verlinkten Seiten und Dokumente ist stets der jeweilige Betreiber verantwortlich.</p>

<br />

<p>Copyright</p>

<p>Das Copyright für den gesamten Inhalt liegt bei Goofytime.

<p>Alle Rechte vorbehalten!

<br />

<p>Rechtsinformation

<p>Beachten Sie, dass Goofytime kein eingetragenes Unternehmen ist!