<h1>Listing events_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events_users.each do |events_user| %>
  <tr>
    <td><%= link_to 'Show', events_user %></td>
    <td><%= link_to 'Edit', edit_events_user_path(events_user) %></td>
    <td><%= link_to 'Destroy', events_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Events user', new_events_user_path %>
